.App {
  width: 100%;
  height: 100%;
}

.auth-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #daedf4;
}

.auth-board {
  width: 50%;
  height: 250px;
  background-color: #1d5063;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-header {
  font-size: 28px !important;
  text-align: center;
}

.text {
  margin: 5px auto;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.auth-action {
  display: flex;
  justify-content: space-around;
}

.login-action {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #0b1f26;
  cursor: pointer;
}

.login-action:hover>.text {
  font-size: 14px !important;
  transition: 0.3s;
}

.auth-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.auth-desc>.text {
  text-align: left;
  margin-left: 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.modal-content p {
  font-size: 20px;
}

.modal-content ul {
  list-style: none;
}

.modal-content li {
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.modal-content svg {
  position: absolute;
  right: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.poll-dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.poll-view {
  width: 70%;
  height: 100%;
  background-color: #1d5063;
}

.create-poll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.new-board {
  width: 50%;
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.new-board>p {
  font-size: 18px;
  color: #fff;
}

.button {
  min-width: 100px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #0b1f26;
}

.button:hover {
  background-color: #ededed;
  color: #000;
}

.poll-configuration {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.poll-configuration>h1 {
  display: flex;
  justify-content: center;
  color: #fff;
}

.poll-section {
  width: 90%;
  margin: 0 auto;
}

.poll-section>input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.poll-section>ul {
  list-style: none;
  position: relative;
}

.poll-section li {
  margin-bottom: 10px;
}

.poll-section li>input {
  height: 30px;
  width: 90%;
  border-radius: 5px;
  border: none;
  outline: none;
}

.poll-configuration ul>button {
  margin-left: auto;
  right: 9%;
  position: absolute;
  margin-top: 10px;
}

.poll-configuration>button {
  display: flex;
  width: 100px;
  align-self: flex-end;
}

.pollview {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pollview>p {
  min-height: 20%;
  display: flex;
  font-size: 28px;
  color: #fff;
  /* align-items: center; */
}

.pollview p>svg{
  margin-top: 5px;
}

.pollview>ul {
  height: 70%;
  list-style: none;
  position: relative;
}

.pollview ul>li {
  display: flex;
}

.pollview ul>li>div {
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.checkicon {
  font-size: 14px !important;
  margin-right: 10px;
}

.selcted-check {
  color: #008000;
}

.votting-percentage {
  margin-left: 10px;
  color: #000;
  opacity: 0.4;
}

.lock-poll {
  margin-left: auto;
  position: absolute;
  right: 0;
  margin-top: 20px;
}

.header {
  width: 100%;
  height: 100px;
  position: absolute;
}

.header>.button {
  display: flex;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
}

.header svg {
  font-size: 18px;
  margin-left: 10px;
}

.poll-history {
  width: 30%;
  height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 100px;
}